body{
    box-sizing: border-box;
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.opener{
    border-width: 2px;
    border-style: groove;
    border-color: aqua;
}

.notice{
    border: 1px solid white;
    font-weight: bolder;
    padding-left: 50px;
    background-color: blue;
    color: azure;
}

.opener > form {
    display: flex;
    flex-direction: column;
}

.opener > form *{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 8px;
}

.opener button[type="submit"]{
    margin-top: 10px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}


.playArea{
    border: 2px solid black;
    width: 30rem;
    height: 30rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
}